<%= form_with(model: movement, id: 'moveForm', local: true) do |form| %>
  <div class="form-box">
    <% if movement.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(movement.errors.count, "error") %> prohibited this movement from being saved:</h2>

        <ul>
          <% movement.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-row">
      <div class="field col-3">
        <%= form.text_field :name, type:'text', class: "form-control", placeholder: :name %>
        <div class='errorMessage'></div>
      </div>


      <div class="field col-6">
        <%= form.text_field :description, class: "form-control", placeholder: :description %>
        <div class='errorMessage'></div>
      </div>

      <div class="actions col">
        <%= form.submit id: 'submit', data: {disable_with: false}, class: "btn btn-success"%>

      </div>
    </div>

  </div>
<% end %>
