<p id="notice" class="alert alert-success"><%= notice %></p>

<h1>Movements</h1>

<%= link_to 'New Movement', new_movement_path, class: "btn btn-primary" %>

<table id="mvmts-table" class="table table-hover">
  <thead>
    <tr>
      <th class="w-25">Name</th>
      <th class="w-50">Description</th>
      <th  class="w-25" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @movements.each do |movement| %>
      <tr>
        <td class="w-25"><%= movement.name %></td>
        <td class="w-50"><%= movement.description %></td>
        <td  class=""><%= link_to 'Execute Revolution',
                                      new_movement_revolution_path(movement), class: "btn btn-secondary btn-sm" %></td>
        <td class=""><%= link_to 'Edit', edit_movement_path(movement), class: "btn btn-secondary btn-sm"%></td>
        <td class=""><%= link_to 'Destroy', movement,
                                     method: :delete, data: { confirm: 'Are you sure?' },
                                     class: "btn btn-danger btn-sm"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


