
<p id="notice"><%= notice %></p>

<h2>
  <strong>Name:</strong>
  <%= @movement.name %>
</h2>

<h6>
  <strong>Description:</strong>
  <%= @movement.description %>
</h6>

<%if @movement.tasks.any? %>
  </hr>
  <h2>Tasks:</h2>
  <%=render @movement.tasks %>
<%end %>

<%= link_to 'Edit', edit_movement_path(@movement) %> |
<%= link_to 'Back', movements_path %>
