<table>
  <tr>
    <th>
      Complete
    </th>
    <th>
      Name
    </th>
    <th>
      Text build
    </th>
    <th>
      Link
    </th>
    <th>
      Task_type
    </th>
  </tr>
  <tr>
    <td>
      <input type="checkbox">
    </td>
    <td>
      <%= @task.order_number %>
    </td>

    <td>
      <%= link_to @task.name, @task.link, target: "_blank" %>
    </td>

    <td>
      <%= @task.text_build %>
    </td>

    <td>
      <%= @task.task_type %>
    </td>
  </tr>
  <%#= render 'tasks/show_task', task: @task %>
</table>


<%= link_to 'Edit', edit_movement_path(@task) %> |
<%= link_to 'Back', movement_task_path %>
