<table class="table table-hover">
  <tr class="row">
    <th class="col-2">Complete</th>
    <th class="col-1">#</th>
    <th class="col-2">Name</th>
    <th class="col-5">Text build</th>
    <th class="col-2">Task_type</th>
  </tr>
  <tr class="row">
    <td class="col-2"><input type="checkbox"></td>
    <td class="col-1"><%= @task.order_number %></td>
    <td class="col-2"><%= link_to @task.name, @task.link, target: "_blank" %></td>
    <td class="col-5"><%= @task.text_build %></td>
    <td  class="col-2"><%= @task.task_type %></td>
  </tr>
  <%#= render 'tasks/show_task', task: @task %>
</table>


<%= link_to 'Edit', edit_movement_path(@task) %> |
<%= link_to 'Back', movement_task_path %>
