<%= form_with(model: [@movement, revolution], local: true) do |form| %>
  <% if revolution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(revolution.errors.count, "error") %> prohibited this revolution from being saved:</h2>

      <ul>
        <% revolution.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :total_seconds, display: none %>
    <%= form.number_field :total_seconds, display: none %>
  </div>

  <div class="field">
    <%= form.label :status, "Status", display: none %>
    <%= form.select :status, @statuses.keys, selected: @revolution.status, display: none %>
  </div>

  <div class="actions">
    <%= form.submit "Complete"%>
  </div>
<% end %>
