<p id="notice"><%= notice %></p>

<h1>Revolutions</h1>

<table>
  <thead>
    <tr>
      <th>Repeater vals</th>
      <th>Total seconds</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @revolutions.each do |revolution| %>
      <tr>
        <td><%= revolution.repeater_vals %></td>
        <td><%= revolution.total_seconds %></td>
        <td><%= revolution.status %></td>
        <td><%= link_to 'Show', movement_revolution_path(revolution.movement_id, revolution) %></td>
        <td><%= link_to 'Edit', edit_movement_revolution_path(revolution.movement_id, revolution) %></td>
        <td><%= link_to 'Destroy', movement_revolution_path(revolution.movement_id, revolution),
                        method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>